{% extends 'admin_base.html' %}

{% block content %}
    <div>
        <form method="POST" action="./../add_receipt/">
            {% csrf_token %}
            <h2>Student Id :<sub style="color: red;">*</sub>
                <select style="background-color: green;color: white; height: 40px; width: 100px;border: none;font-size: 16px;" name="sid" required>
                    {% for student in students %}
                    <option value={{student.0}}>{{student.1}} &nbsp {{student.2}} &nbsp {{student.3}} &nbsp {{student.4}}</option>
                    {% endfor %}
                </select>
            </h2>
            <h2>Fee Type :<sub style="color: red;">*</sub><input type="text" name="fee_type" required></h2>
            <h2>Amount :<sub style="color: red;">*</sub><input type="number" name="amount" required></h2>
            <h2>Payment Date :<input type="date" name="payment_date"></h2>
            <h2>Payer :<input type="text" name="payer"></h2>
            <h2>Fee Collector <sub style="color: red;">*</sub>:
                <select style="background-color: green;color: white; height: 40px; width: 100px;border: none;font-size: 16px;" name="collector_id" required>
                    {% for employee in employees %}
                    <option value={{ employee.0 }}>{{ employee.1 }} &nbsp {{ employee.2 }} &nbsp {{ employee.3 }}</option>
                    {% endfor %}
                </select>
            </h2>
            {% if not modify %}
                <input style="background-color: green;color: white; height: 40px; width: 100px;border: none;font-size: 16px;" type="submit" VALUE="Submit" name="action">
                <input style="background-color: green;color: white; height: 40px; width: 100px;border: none;font-size: 16px;" type="reset" VALUE="Reset">
            {% endif %}
            {% if modify %}
                <input style="background-color: green;color: white; height: 40px; width: 100px;border: none;font-size: 16px;" type="hidden" value="RECEIPT" name="table">
                <input style="background-color: green;color: white; height: 40px; width: 100px;border: none;font-size: 16px;" type="submit" VALUE="Modify" name="action">
            {% endif %}
        </form>
    </div>
{% endblock %}