{% extends 'admin_base.html' %}

{% block content %}
    <div>
            <form method="POST" action="./../add_employee/">
            {% csrf_token %}
            <h2>First Name :<sub style="color: red;">*</sub><input type="text" name="fname" required></h2>
            <h2>Last Name :<sub style="color: red;">*</sub><input type="text" name="lname" required></h2>
            <h2>Gender :<sub style="color: red;">*</sub><input type="radio" name="gender" value="m" checked>Male
                <input type="radio" name="gender" value="f">Female</h2>
            <h2>Primary Contact:<sub style="color: red;">*</sub>
            <input type="text" name= "p_contact" required></h2>
            <h2>Secondary Contact:
            <input type="text" name= "sec_contact"></h2>
            <h2>Date Of Joining :<sub style="color: red;">*</sub><input type="date" name="doj" required></h2>
            <h2>Salary :<sub style="color: red;">*</sub><input type="number" name= "salary" required></h2>
            <h2>JOB :<sub style="color: red;">*</sub><input type="text" name="job" required></h2>
            <h2>Address Details :-</br>Place :<sub style="color: red;">*</sub>
            <input type="text" name= "place" placeholder="your locality" required></h2>
            <h2>Town :<sub style="color: red;">*</sub>
            <input type="text" name= "district" required></h2>
            <h2>State :<sub style="color: red;">*</sub><input type="text" name= "state" required></h2>
            <h2>Pincode :<sub style="color: red;">*</sub><input type="number" name="pincode" required></h2>
            {% if not modify %}
                <input style="background-color: green;color: white; height: 40px; width: 100px;border: none;font-size: 16px;" type="submit" VALUE="Submit" name="action">
                <input type="reset" style="background-color: green;color: white; height: 40px; width: 100px;border: none;font-size: 16px;" VALUE="Reset">
            {% endif %}
            {% if modify %}
                <input style="background-color: green;color: white; height: 40px; width: 100px;border: none;font-size: 16px;" type="hidden" value="EMPLOYEE" name="table">
                <input style="background-color: green;color: white; height: 40px; width: 100px;border: none;font-size: 16px;" type="submit" VALUE="Modify" name="action">
            {% endif %}
        </form>
    </div>
{% endblock %}