{% extends 'base.html' %}
{% block content %}
    <h1 style="text-align: center">Admission Process</h1>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <p>Pupils are ordinarily admitted only at the beginning of the April term. No admission is made until the student has passed a test for the
                essential class subjects. No candidate will be admitted without an interview and his place on the waiting list will among other things,
                depend on this test. A student who has attended a recognized school cannot be admitted without a School Leaving Certificate from the
                school last attended.</p>
            <h2>REGISTRATION</h2>
            <h4>CLASS XI :</h4>
            <p>Registration for class XI is done after the class X board results are declared. Admission to class XI Science and Commerce are strictly on
                the basis of the marks obtained by the students in the class X Board exams. Admission depends on the availability of the seats in the
                particular stream. Admission to other classes will depend upon the availability of seat and competence of the students in the admission test.
                A transfer certificate from the previous school attended must be attached. Guardians are requested to fill the admission form with utmost
                accuracy and to read the prospectus thoroughly before registering the child. Every student seeking admission in the school is required to
                produce the following documents without which the admission cannot be finalized.</p>
            <h4>Document Required :</h4>
            <ul>
                <li>Attested photocopy of Municipal Birth Certificate for admission to class PREP. (Original to be produced at the time of admission).</li>
                <li>Two passport size photographs.</li>
                <li>School leaving certificate duly countersigned.</li>
                <li>Medical fitness certificate from a competent doctor.</li>
                <li>Character certificate from the school attended last.</li>
            </ul>
            <h4>PROMOTION :</h4>
            <p>
                Promotion is granted on the basis of the whole year's performance of the pupil; hence the importance of regularity in attendance and work is imperative.
            </p>
            <h4>Norms of Promotion :</h4>
            <p>
                Promotion is granted on the basis of the whole year's work of the pupil, hence importance of regularity in work for all classes i.e.
                Prep to XII is necessary. Continuous and comprehensive Evaluation gets full attention of the Teachers. Class teachers keep an up-to-date
                record of all students. Quarterly reports reflect the average score of every pupil. Results declared at the end of the year are final in
                all cases and will not be reconsidered.
            </p>
        </div>
    </div>
{% endblock %}