<!DOCTYPE HTML>
<html>
	<head>
		<title>veena bharti high school</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href = "../static/home.css" type="text/css">
        <style>
            .mySlides,.mySlides1 {display:none;}
        </style>
	</head>
	<body>
		<div id = "top"></div>
		<div id = "login">
			<ul class="lr" >
				<li class="in">Log In Here >></li>
				<li class="in"><a href="/login/" style="margin = 0;padding: 0;">Administration</li>
			</ul>
		</div>
		<div class = logo>
			<a href="/"><img src="../static/images/logo.jpg" style="width: 100%;height: auto"></a>
		</div>
		<div id = top></div>
		<div style="margin:0px;border:0px;">
		<marquee>
        <p style="margin:0px;">
            {% for message in messages %}
                {{ message.1 }}
                {% if message.2 %}
                    <a href="{{ message.2 }}"><strong style="color: red;">here</strong></a>
                {% endif %}
                &nbsp &nbsp &nbsp &nbsp
            {% endfor %}
        </p>
        </marquee>
		</div>

	<ul class = "hor">
		<li class="dropdown" style="visibility: hidden" >&nbsp &nbsp &nbsp &nbsp spaaaaaaaaaa</li>
		<li class="dropdown"><a href="/">HOME</a></li>
		<li class="dropdown">
			<a href="javascript:void(0)" class="dropbtn">ABOUT</a>
			<div class="dropdown-content">
				<a href="/introduction/">INTRODUCTION</a>
				<a href="/details/">OUR AFFILIATION</a>
				<a href="/principal_message/">PRINCIPAL'S MESSAGE</a>
                <a href="/director/">DIRECTOR'S MESSAGE</a>
			</div>
		</li>
		<li class="dropdown"><a href="/curriculum/">CURRICULUM</a></li>
		<li class="dropdown"><a href="/admission/">ADMISSION</a></li>
		<li class="dropdown"><a href="/facilities/">FACILITIES</a></li>
		<li class="dropdown"><a href="/galary/">GALLERY</a></li>
		<li class="dropdown"><a href="/contact/">CONTACT</a></li>
		<li class="dropdown" style="visibility: hidden" >&nbsp &nbspaaaaaaaaaa</li>
	</ul>


	<div class="slideshow-container">

		<div class="mySlidesx fade">
		  <div class="numbertext">1 / 4</div>
		  <img src="../static/images/1.jpg" style="width:100%;height:600px">
		  <div class="text">Caption Text</div>
		</div>

	<div class="mySlidesx fade">
	  <div class="numbertext">2 / 4</div>
	  <img src="../static/images/2.jpg" style="width:100%;height:600px">
	  <div class="text">Caption Two</div>
	</div>

	<div class="mySlidesx fade">
	  <div class="numbertext">3 / 4</div>
	  <img src="../static/images/3.jpg" style="width:100%;height:600px">
	  <div class="text">Caption Three</div>
	</div>

        <div class="mySlidesx fade">
	  <div class="numbertext">4 / 4</div>
	  <img src="../static/images/4.jpg" style="width:100%;height:600px">
	  <div class="text">Caption four</div>
	</div>

	</div>
<div style="text-align:center">
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
        <span class="dot"></span>
</div>
        {% block content %}

        {% endblock %}
<div class="row" style="position:relative;width:100%;margin:0">
<div class="col-1" style="background-color:#03274B;"></br></br></br></br></br></br></br></br></br></br></br></br></div>
<div class="col-4" style="margin:0;padding:0;background-color:#03274B;color:#F8F8F2;list-style:none;">
<h2>Veena Bharti High School</h2>
	<address>
      Manas parivartan,<br />
      poreyahat,<br />
      Dist: Godda<br />
      Pin: 814153
     </address>
	<ul style="margin:0;padding:0;border:0;">
		</br>
        <li style="list-style:none;"><strong>Tel:</strong> 9889419676</li>
        <li style="list-style:none;"><strong>Email:</strong> <a style="padding:0;" href="#">veenabharti.por@gmail.com</a></li>
     </ul>
	 </br></br></br>
</div>
<div class="col-3" style="margin:0;padding:0;background-color:#03274B;color:#F8F8F2;list-style:none;">
<h2>Administration</h2>
      <ul style="margin:0;padding:0;border:0;">
        <li style="list-style:none"><a style="padding:0;" href="#">Disclaimer</a></li>
        <li style="list-style:none;"><a style="padding:0;" href="#">Accessibility</a></li>
        <li style="list-style:none;"><a style="padding:0;" href="#">Freedom of Information</a></li>
        <li style="list-style:none;"><a style="padding:0;" href="#">Website Privacy</a></li>
        <li style="list-style:none;"><a style="padding:0;" href="#">Press Release Information</a></li>
        <li style="list-style:none;"><a style="padding:0;" href="#">Annual Report</a></li>
        <li style="list-style:none;"><a style="padding:0;" href="#">Financial Statements</a></li>
        <li style="list-style:none;"><a style="padding:0;" href="#">Job Vacancies</a></li>
        <li style="list-style:none;"><a style="padding:0;" href="#">Semester Dates</a></li>
      </ul>
	  </br>
</div>
<div class="col-3" style="margin:0;padding:0;background-color:#03274B;color:#F8F8F2;list-style:none;">
<h2>Administration</h2>
      <ul style="margin:0;padding:0;border:0;">
        <li style="list-style:none"><a style="padding:0;" href="#">Disclaimer</a></li>
        <li style="list-style:none;"><a style="padding:0;" href="#">Accessibility</a></li>
        <li style="list-style:none;"><a style="padding:0;" href="#">Freedom of Information</a></li>
        <li style="list-style:none;"><a style="padding:0;" href="#">Website Privacy</a></li>
        <li style="list-style:none;"><a style="padding:0;" href="#">Press Release Information</a></li>
        <li style="list-style:none;"><a style="padding:0;" href="#">Annual Report</a></li>
        <li style="list-style:none;"><a style="padding:0;" href="#">Financial Statements</a></li>
        <li style="list-style:none;"><a style="padding:0;" href="#">Job Vacancies</a></li>
        <li style="list-style:none;"><a style="padding:0;" href="#">Semester Dates</a></li>
      </ul>
	  </br>
</div>
<div class="col-1" style="background-color:#03274B;"></br></br></br></br></br></br></br></br></br></br></br></br></div>
</div>

<script>
var slideIndex = 0;
showSlides();

function showSlides() {
    var i;
    var slides = document.getElementsByClassName("mySlidesx");
    var dots = document.getElementsByClassName("dot");
    for (i = 0; i < slides.length; i++) {
       slides[i].style.display = "none";
    }
    slideIndex++;
    if (slideIndex > slides.length) {slideIndex = 1}
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
    setTimeout(showSlides, 2000); // Change image every 2 seconds
}

var myIndex = 0,myIndex1=0;
carousel();
carousel1();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides1");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel, 2000   ); // Change image every 2 seconds
}
function carousel1() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    myIndex1++;
    if (myIndex1 > x.length) {myIndex1 = 1}
    x[myIndex1-1].style.display = "block";
    setTimeout(carousel1, 2000   ); // Change image every 2 seconds
}
</script>
	</body>
</html>
