{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <h2>Contact Information :</h2>
            <h4>How to Reach</h4>
            <p>The institution is situated at Mandroza Chowk adjacent to kotwali police station and very short distance before T. M. Bhagalpur University,
                Bhagalpur. It is between 1 km from railway station, bus station and holy River Ganga.</p>
            <h4>Contact Us :</h4>
            <p>
                Phone No.</br>
                    0641-2620119<br>
                Mobile No.</br>
                    +91 8797304039<br>
                Fax</br>
                    0641-2620478<br>
                Email</br>
                    veenabharti_poreyahat.com contact@veenabhartiporeyahat.com
            </p>
        </div>
    </div>
{% endblock %}