{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <h2>Curriculum</h2>
    <p>Cultural forum is meant to promote and develop in student aptitudes through active participation in social,
        cultural and literary activities like dramatics, debates, essay writing competition, declamation contests
        and music concerts.</br>
        The term examination has come to be associated with stress and anxiety. The process of teaching and
        learning which is supposed to be meaningful for the student loses its joy because of these negative
        connotations of examination.</br>
        Therefore, the school begins ranking students, on the basis of their marks, form as early as their
        pre-primary years. Such as a drive have several negative effects on learning.Students, parents and society
        at large become anxious in the race acquire more and more marks in examination which lead to an extremely
        stressful existence. Moreover, though all out efforts are made to enhance the reliability of examination, the
        human error cannot be avoided. This shortcoming can be overcome if the student are placed ability bands that
        presents range of scores.</p>
        </br>
        <p>National Curriculum Frame Works (NCF) envisaged on evaluation system would grade the students on their regular activities in the
            classroom and enable students to understand and focus on their learning gaps and learn through these as part of formative assessment.
            The CBSE has decided to introduce the below grading scheme at secondary level for Class IX and X from the academic year 2010-11.
            Accordingly, the “Statement of subject wise performance” to be issued by the board w.e.f. the class IX examination 2010 will have only
            grades. So the grades on the basis of the pre-determined marks ranges as detailed below:</p>
        </br>
        <table>
            <tr>
                <th style="background-color: green">Marks</th>
                <th>91-100</th>
                <th>81-90</th>
                <th>71-80</th>
                <th>61-70</th>
                <th>51-60</th>
                <th>41-50</th>
                <th>33-40</th>
                <th>21-32</th>
                <th>20 and below</th>
            </tr>
            <tr>
                <th style="background-color: green">Grade</th>
                <th>A1</th>
                <th>A2</th>
                <th>B1</th>
                <th>B2</th>
                <th>C1</th>
                <th>C2</th>
                <th>D</th>
                <th>E1</th>
                <th>E2</th>
            </tr>
            <tr>
                <th style="background-color: green">Grade Points</th>
                <th>10.0</th>
                <th>9.0</th>
                <th>8.0</th>
                <th>7.0</th>
                <th>6.0</th>
                <th>5.0</th>
                <th>4.0</th>
                <th>--</th>
                <th>--</th>
            </tr>
        </table>
    </div>
</div>

{% endblock %}