{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-5">
            <h2 style="color: mediumvioletred;">Director's Message</h2>
            <p>
            Poreyahat, the pristine <strong style="color: blue">Anga Pradesh</strong> has been the hum of cultural and academic activities since time immemorial.
            The great evidence is the Vikramshila University adjacent to this city, glorifies the sublimity of educational arena and era.<br>
            To bring its glory in modern century, I was inspired by Goddess Saraswati to establish institutions for the betterment of the offspring
            who are thriving to build the nation grand. Society is dynamic; changing is the crux of the nature. Owing to the permutations of the societal
            requirements, the society needed English schools so that the Posterity of the Pradesh will be coping with battles yet to come. We are deeply
            chained with cult, so the students will not only grasp the global technologies, languages, literatures and thoughts but also keep up the Guru Shishya
            tradition with balanced personality. Having been felt the dire need in the field of good and up-to date education, I established this very institution
            Veena Bharti High School, Poreyahat, Godda in 2012. Coming on the earth, I have renounced everything for the benefit of the society at large. I hope the
            institution will be shaping good human, tactful administrators, inventive scientists and the best technologists. Moreover, the above products it will be
            shaping good sons, daughters, neighbors as well as paradigm citizens of India.<br><br>

            Prasant Mendal,<br>
            Director<br>
            Veena Bharti High School, Bhagalpur</p>
        </div>
        <div class="3"><br><br><br>
            <img src="../static/images/director.jpg" height="400px" alt="Image not Availale"></div>
        </div>
    </div>
{% endblock %}