{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div >
            <center>
                   <h1 style="color:#03274B;" > Our Affiliation</h1><br>
                   <a href="http://cbse.nic.in" >
                   <img class="side2" width=150px height=150px src="../static/images/cbse.gif" alt="cbse photo"/> </a>&nbsp&nbsp&nbsp

                    <table cellpadding=10px style="text-align:center;" >
                    <tr>
                    <td>
                    <div  align=center><b><font color=#03274B>Veena Bharti High School, Poreyahat is affiliated to CBSE New Delhi India .</font></b></br>
                    <br/>
                    <table border=1 width=100% height=500px style="text-align:center;font-size:15px;">
                      <tr>
                       <td width=20%>
                       Name of School with Address,email,Phone no.,Fax no.
                       </td>
                       <td>
                       Veena Bharti High School<BR/>
                       Poreyahat <BR/>
                       Manas Parivartan , Poreyahat ,<br/>Dist. Godda,<br/>Jharkhand ,India<br/>
                       Pincode: 814153<br/>
                       Fax: 06542-233615<br/>
                       Email: info@veenabharti.com<br/>
                       +91(0)6542233544<br/>
                       +919234300512
                       </td>
                      </tr>

                      <tr>
                       <td width=20%>
                       Year of establishment of school
                       </td>
                       <td>
                       2012
                       </td>
                      </tr>



                      <tr>
                       <td width=20%>
                       Status of Affiliation
                       </td>
                       <td>
                       CONFIRMED <BR/>
                       Affiliation No: 3430044
                       </td>
                      </tr>

                      <tr>
                       <td width=20%>
                       Other Facilities
                       </td>
                       <td>
                      Digital classrooms , ERP System , Robotic Lab, Libraries, E-Library, Hi-Tech Labs, Play Grounds with facilities for all Games, Swimming Pool, Gymnasium , Math Lab , Social Studies Lab, Science Labs, Art Education Facilities, Infirmary , Publications, Eco-Gardening, Solar Panels, Paper Recycling, Vermi compost Plant, Rain Water Harvesting  .
                       </td>
                      </tr>
                    </table>



                    </div>

                    </td>
                    </tr>
                    </table>
                      </center>
                   </div>
                   </center>
            </td>

                      </table>
        </div>
    </div>
{% endblock %}