{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-2"></div>
    <div class="col-8">
    <h1>Facilities</h1>
        <div class="col-7">
            <img alt="lab" src="../static/images/lab_img.jpg" class="frame lalign" width="100%" height="500" /></div>
        <div class="col-5"><p>
            <h2 style="color: mediumvioletred;margin: 0;">Laboratories:</h2>
        <strong style="color:#03274B;">Chemistry Laboratory</strong> – The school has well equipped chemistry lab almost all apparatus
        as prescribed by C.B.S.E. syllabus. The laboratory has all necessary chemicals and
        glassware so as to carry out the experiments mentioned in the syllabus at the middle,
        secondary and senior secondary levels. We have two PGTS and TGTS’. The lab instructors
        take necessary precautions while the students use the chemicals or other equipments
        that may be dangerous.</p>
        <p>
        <strong style="color:#03274B;">Physics Laboratory</strong> – The school has well equipped physical laboratory to conduct
        the practical session of class IX to XII classes. It has all apparatus those may
        be needed to carry out all types of experiments mentioned in the syllabus according
        to C.B.S.E. curriculum. The lab has black board to provide some theoretical tips
        to the students while doing their experiments. There are so many charts related
        to different topics. The lab instructors pay attention and direct the students to
        handle heavy and risky equipments.
        </p>
            <p><strong style="color:#03274B;">Biology Laboratory</strong> – The school has well equipped Biology lab with specimens and
            models of various plants and animals to impart knowledge to students. It has charts
            of all the important topics, which are used by the teachers as teaching aids. It
            has modern microscope, chemicals and glassware so as to carry out experiments at
            the middle secondary and senior secondary levels.
            </p>
        </div>
        <div class="col-4">
        <p>
        <strong style="color:#03274B;">Computer Laboratory</strong> – The school has two computer labs with comfortable furniture
        providing an excellent environment to class one to XII. There are 46 computer systems
        with latest configuration including hardware and software. The lab has internet
        connection and provides internet facility to every student. Computer has been included
        as a compulsory subject for classes I to VIII and optional subject for IX to XII.
        There are six computer teachers to provide necessary help to students.
        </p>
        </div>
        <div class="col-8">
            <img alt="computer lab" src="../static/images/computer_lab.jpg" class="frame ralign"
            width="100%" height="400" />
        </div>
    <div class="col-7">
    <img alt="library" src="../static/images/library.jpg" class="frame lalign" width="100%" height="500" />
        <p style="color:#ff6a00;"><q>Reading makes a complete man</q></p></div>
        <div class="col-5">
            <h2 style="color: mediumvioletred;margin: 0;">Library:</h2>
    <p>The library is well planned with sufficient arrangements of comfortable furniture.The school’s librarian maintains the reading environment in the library to helpthe readers in order to select the appropriate book. The sitting arrangement isfor 60 students. Books are issued for one week to one student. There are a lot ofreference books those are educative, informative, recreational and inspiring. Differentkinds of dailies and periodicals are available for the students.
    </p></div>
    <h2 style="color: mediumvioletred;margin: 0;">Art &amp; Craft:</h2>
    <p>
        Art is the best medium of expression. It brings about the harmonious development
        of a child’s personality.
    </p>
    <h2 style="color: mediumvioletred;margin: 0;">Music:</h2>
    <p>
        Music is an integral part of our curriculum. The students learn both vocal and instrumental
        music in the School-Music-Hall where music concerts are held.
    </p>
    <h2 style="color: mediumvioletred;margin: 0;">Transport Facility:</h2>
    <p>
        Bus facility is available at reasonable rate. Buses ply from all corners of the
        city and adjacent localities.
    </p>
    </div>
        <div class="col-2"></div>
    </div>

{% endblock %}