{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <h2 style="color: mediumvioletred;"><center>Founder Message</center></h2>
            <div class="col-4" style="height:100px;"><br><br><br><br><br>
                <img width="100%", height="400" src="./../static/images/founder.jpg">
            </div>
            <div class="col-8">
            <p>
                Learning beyond Classroom” is the hallmark of the school educational system. So, to achieve this, educational tours are regularly organised by the school to promote national and international understanding. Tours of national importance are being organised to develop understanding of our cultural heritage camping expeditions, picnics, visit to world heritage sites are also organized.
            </p>
            <p>Every few hundreds years………… there occurs a sharp transformation. Within decades, society-its worldview, its basic values, its social and political structures, its arts, its key institutions rearranges itself. And the people born then cannot imagine a world in which their grandparents lived and into which their own parents were born. We are currently living through such a transformation</p>
            <p>We are the first generation of global citizens. The choice we make will establish an overall mind-set and approach to living with which humanity will live for generations. What we do at this juncture matters.</p>
            <p>The recent developments in communication and information technology have opened up cost-effective approaches for providing education that is relevant. It discards what does not meet the fast changing world.</p>
            <p>Today,our schools need a paradigm shift, in order to fulfill the task of diversified, permanent quality education in a new emerging world where their adaption has been incomplete.</p>
            <p>Thus, we are bound to see rapid changes in the school curriculum and in its transaction. Educationist feel that learning to know, learning to do, learning to live together and learning to be, are the four pillars which should be the foundation for any educational process.</p>
            <p>I believe that the quality of school education offered by any nation is an indictor to the quality of life envisaged for its future citizens. Therefore, it is an awesome creative challenge for me to establish a school as per international standards and to fulfill the global needs.</p>
            <p>I am proud to augment a learning process in the classrooms, exploring newer horizons within the broader parameters and fusing innovative ideas with the learning need of the society with your partnership.We need to bridge gaps between a priviledged minority of those who generally benifits from progress and a substantial proportion of mankind left to suffer its drawbacks.I am sure; you will strength me in fulfilling my cherished dreams of making a world class institution.</p>
            <strong style="color: #03274B">Virender Kumar</strong><br>
            <h4 style="margin-top: 0px">(Founder)</h4>
            </div>
        </div>
    </div>
{% endblock %}