{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h1 style="color: #03274B;">About Veena bharti High School, Poreyahat</h1>
            <h4 style="color: mediumvioletred">Administration:</h4>
            <p>
                The school is running under the aegis of Sri Khublal Pramila Charitable Trust, and Vidyalaya Managing Committee,
                Veena Bharti High School, Manasparivartan, poreyahat, Godda.
            </p>
            <h4 style="color: mediumvioletred">The Campus :</h4>
            <p>
                The school pervades on area of 2.44 Acers of land radiates knowledge from a four storied building consisting of windy
                and well lit class rooms.
            </p>
            <h4 style="color: mediumvioletred">Aims & Objectives:</h4>
            <p>
                Making out its pupils as the dignity of the globe, part and parcel of the plebs, makers of the mankind, priceless treasures of the country,
                the school aims at training and preparing them for becoming useful citizen patriotic and practice by imparting them through modern pedagogies
                and technologies. Emphasis is laid on glorious and splendid future of the pupils. The school endeavours to make the students self dependent,
                free minded, courageous and undaunting figures through and from Nursery to Senior Secondary (10+2) and pats them to participate in congregation,
                library, mimic-plays, scholastic and co-schotistic, games and sports, yoga, cultural programmes, group discussion, laboratory and computer etc.
            </p>
        </div>
    </div>
{% endblock %}