{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-3"><br><br><br><br><br>
            <img src="../static/images/principal.png" width="100%" height="400px" alt="Image not Availale"></div>
        <div class="col-5">
            <h2 style="color: mediumvioletred;">From the Desk of the Principal</h2>
            <p>
                It is our advanced intelligence which makes us unique in this world and perhaps it is the use of reason which will eventually reveal our true purpose of life.
                As Winston Churchil so aptly said The empires of the future are the empires of the minds, so the role of education in forming the right reason is a paramount
                importance. To enable students to have or to know where to obtain the information they need to make confident decisions and hold responsible opinion about their
                lives and the relationship of their lives to the world in which they live, education becomes imperative.<br>
                We must remember that intelligence is not enough. Intelligence plus character is the goal of true education. The complete education gives one not only the power
                of concentration, but also worthy objectives upon which to concentrate.<br>
                The simplistic view of education has been in existence where upon the independence. Students were being taught how to achieve 100% marks over all. It was a cut
                throat competition among the students which led to suicidal. Hence the HRD of education abolished the evaluation system and brought out the grading system that
                will be in the precinct of “I” point grading system. Therefore, now the C.B.S.E. will not take board examination of Class X. the students through continuous
                comprehensive evaluation will have been examined not only in the academic but also in their skills, in scholastic and co-scholastic area. To make them all round
                achievers, they will be imparted and trained physically, emotionally and rationally.<br>
                The school initiates from class Nursery to IX, X, XI and XII. Our junior classes are the stone foundation and senior classes are the coronation. Our intellectual
                capitals are the gardeners of this garden who have been cultivating them since the foundation.<br>
                Our Vidyalaya Managing Committee is very nice to all and aware of all corners in developing the institution.
                Veena Bharti High School will have been giving unparalleled outcome, it is my promise. Looking forward to your good co-operation.<br><br>

                Chandra Deo Singh,<br>
                Principal<br>
                Veena Bharti High School, Poreyahat, Godda
            </p>
        </div>
    </div>
{% endblock %}